.main-bg{
    background-image: url(/images/happy-woman-with-smartphone-min.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.over-lay{

    background-color: #25252562;
    width: 100%;
    height: 100%;
    position: absolute;

}

.card .addBtn{
    
    transition: all .5s;
}
.card .addBtn:hover button{
    background-color: #fff !important;
    color: #ef5589 !important;
}

.slide-item {
    width: 100%;  /* Forces each slide to take full width */
}
